# Default ignored files
/shelf/
/workspace.xml
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
/.name
/compiler.xml
/jarRepositories.xml
/runConfigurations/Minecraft_Client___fabric__fabric.xml
/runConfigurations/Minecraft_Client___neoforge__neoforge.xml
/runConfigurations/Minecraft_Server___fabric__fabric.xml
/runConfigurations/Minecraft_Server___neoforge__neoforge.xml
/modules.xml
/modules/common/sound_physics_perfected.common.iml
/modules/fabric/sound_physics_perfected.fabric.main.iml
/modules/fabric/sound_physics_perfected.fabric.test.iml
/modules/neoforge/sound_physics_perfected.neoforge.main.iml
/modules/neoforge/sound_physics_perfected.neoforge.test.iml
